<h2><%= @movie["title"] %></h2>

<h3>Rating</h3>
<p><%= @movie.rating %></p>
<p><%= @movie.description %></p>

<%= link_to "Back", :back %>
<%= link_to "Edit", edit_movie_path %>
<%= link_to 'Destroy', movie_path(@movie),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>